services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: clinicast
      POSTGRES_PASSWORD: clinicast
      POSTGRES_DB: clinicast
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U clinicast"]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://clinicast:clinicast@db:5432/clinicast
      MODEL_PATH: /app/models/noshow_model.joblib
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./models:/app/models

volumes:
  pgdata:
